


<div class="container">
    <h2>Dynamic Tabs</h2>
    <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

    <ul class="nav nav-tabs" >
        <li><a data-toggle="tab" id="presc" href="#prescription">Prescription</a></li>
        <li><a data-toggle="tab" id="xr" href="#x-rays">X-Rays</a></li>
        <li><a data-toggle="tab" id= "ana" href="#analyzes">Analyzes</a></li>
    </ul>

    <div class="tab-content">
        <div id="prescription" class="tab-pane fade">
            <h3>Prescription</h3>
            <p>
                <p-dataTable >
                    <p-header>Prescription</p-header>
                    <p-column field="id" header="Id" [sortable]="true"></p-column>
                    <p-column field="name" header="Name" [sortable]="true"></p-column>
                    <p-column field="birthday" header="Amount" [sortable]="true"></p-column>
                </p-dataTable>

            </p>
        </div>
        <div id="x-rays" class="tab-pane fade">
            <h3>X-Rays</h3>
            <p></p>
        </div>
        <div id="analyzes" class="tab-pane fade">
            <h3>Analyzes</h3>
            <p></p>
        </div>
    </div>
</div>


<div class="row justify-content-center position-top">
    <button class="btn btn-secondary" (click)="onLogOut()">Log out</button>
</div>
