<div class="container">
    <h2>Welcome!</h2>

    <div class="" align="right">
        <button class="btn btn-secondary" (click)="onLogOut()">Log out</button>
    </div>

    <ul class="nav nav-tabs" >
        <li><a data-toggle="tab" id="presc" href="#prescription">Prescription</a></li>
        <li><a data-toggle="tab" id="xr" href="#x-rays">X-Rays</a></li>
        <li><a data-toggle="tab" id= "ana" href="#analyzes">Analyzes</a></li>
    </ul>

    <div class="tab-content">
        <div id="prescription" class="tab-pane fade">
            <ul class="list-group">
                <li class="list-group-item">New <span class="badge"></span></li>
                <li class="list-group-item">Deleted <span class="badge"></span></li>
                <li class="list-group-item">Warnings <span class="badge"></span></li>
            </ul>

        </div>
        <div id="x-rays" class="tab-pane fade">
            <h3>X-Rays</h3>
            <p></p>
        </div>
        <div id="analyzes" class="tab-pane fade">
            <h3>Analyzes</h3>
            <p></p>
        </div>
    </div>
</div>



