
<p-dataTable [value]="substances" selectionMode="single" [(selection)]="selectedSubstance" (onRowSelect)="onRowSelect($event)" rows="15" [responsive]="true">
    <p-header>Substance Details</p-header>
    <p-column field="id" header="Id" [sortable]="true"></p-column>
    <p-column field="substance_name" header="Substance_name" [sortable]="true"></p-column>
    <p-column field="harmful_substance" header="Harmful_substance" [sortable]="true"></p-column>
    <p-column field="createdAt" header="Created At" [sortable]="true"></p-column>
    <p-column field="updatedAt" header="Updated At" [sortable]="true"></p-column>
    <p-footer><div class="ui-helper-clearfix" style="width:100%"></div></p-footer>
</p-dataTable>


<p-dialog header="Substance Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" appendTo="body" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="substance">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="substance_name">Substance_name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="substance_name" [(ngModel)]="substance.substance_name" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="harmful_substance">Harmful_substance</label></div>
            <div class="ui-grid-col-8"><input pInputText id="harmful_substance" [(ngModel)]="substance.harmful_substance" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="createdAt">CreatedAt</label></div>
            <div class="ui-grid-col-8"><input pInputText id="createdAt" [(ngModel)]="substance.createdAt" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="updatedAt">UpdatedAt</label></div>
            <div class="ui-grid-col-8"><input pInputText id="updatedAt" [(ngModel)]="substance.updatedAt" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="edit()" label="Edit"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
  
