<div class="container">
    <h2>Welcome!</h2>

    <div class="" align="right">
        <button class="btn btn-secondary" (click)="onLogOut()">Log out</button>
    </div>


    <div class="selector">
        <label for="sel1">Select a patient:</label>
        <select class="form-control" id="sel1" (change)="activateNav($event.target.value)">
            <option value="" selected disabled hidden>Choose here</option>
            <option *ngFor="let patient of patients" [value]="patient.id">
                {{ patient.name }}
            </option>
        </select>
    </div>

    <div class="birthday" [hidden]="!chosen">
        <label for="birthday">Birthday:</label>
        <textarea *ngIf="chosen" class="form-control" rows="1" id="birthday">{{ chosenPatient.birthday }}</textarea>
    </div>


    <ul class="nav nav-tabs" [hidden]="!chosen">
        <li><a data-toggle="tab" id="presc" href="#prescription">Prescription</a></li>
        <li><a data-toggle="tab" id="xr" href="#x-rays">X-Rays</a></li>
        <li><a data-toggle="tab" id="ana" href="#analyzes">Analyzes</a></li>
    </ul>

    <button type="button" class="btn btn-info" (click)="addNewRow()">Add</button>

    <div class="tab-content">
        <div id="prescription" class="tab-pane fade">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th scope="col">Diagnostic</th>
                    <th scope="col">Name</th>
                    <th scope="col">Dosage</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of rows">
                    <td>
                        <input type="text" class="form-control diagnostic" size="1">
                    </td>
                    <td>
                        <select class="form-control match-content drugId" id="drugname"
                                (change)="drugId($event.target.value)">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option *ngFor="let drug of drugs">
                                {{drug.id}} {{ drug.name }}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control dosage" size="1">
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>

        <div class="alert alert-danger" role="alert" [hidden]="!isHarmful">
            These two drugs cannot be combined!
        </div>
        <div id="x-rays" class="tab-pane fade">
            <h3>X-Rays</h3>
            <p></p>
        </div>
        <div id="analyzes" class="tab-pane fade">
            <h3>Analyzes</h3>
            <p></p>
        </div>
    </div>
</div>


