.login
{   color:black;
    top:28%;
    position: top;
    right: 1100px;
    width: 300px;
    padding: 10px;
}
.register
{   color:black;
    top:0%;
    position: absolute;
    right: 100px;
    width: 300px;
    padding: 0px;
}

.button{ background-color:rgb(102, 0, 51);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



img {
    margin-left:80px;
    width: 40%;
}

#login {
    display: flex ;
}